* , *::after , *::before{
    margin: 0;padding: 0;box-sizing: border-box;
    transition: .4s;
}
a{
    text-decoration: none;
    color: black;
}
body{
    // overflow: hidden;
    overflow-x: hidden;
    @font-face {
        font-family: mechrom;
        src: url(../font/OpenSans-VariableFont_wdth\,wght.ttf);
    }
    font-family: mechrom;
    // font-weight: 800;
    
}
li{
    list-style-type: none;
}
.bigbody{
    display: flex;
    width: 100%;
}
.container{
    display: flex;
    width: 100%;
    
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}